body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*header*/
.numberCircle {
  border-radius: 50%;

  width: 36px;
  height: 36px;
  padding: 8px;
  background: #ccc;
  border: 2px solid #ccc;
  color: #fff;
  text-align: center;
  font: 15px Arial, sans-serif;
  display: inline-block;
}

/* list */
.boxed {
  border: 1px solid #ccc;

  height: 140px;
}
.textAlignCenter {
  text-align: center;
}
.padding25 {
  padding: 25px;
}

.float_right {
  float: right;
}
.card-body {
  padding: 0rem;
}
.cards {
  padding: 15px;
}

.rounded-img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.colorccc {
  color: #ccc;
}

.content {
  padding: 10px;
  display: inline-block;
}

.inline-img {
  display: inline-block;
}

.inline-text {
  display: inline-block;
}

/*  usernew*/
.width150 {
  width: 150px !important;
}

.halfrounded {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #1a73e8;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #1a73e8;
}
